@import 'normalize.scss';
@import '../lib/swiper.min.scss';
@import 'base.scss';


//计算尺寸函数
@function p2r($size){
    @return ($size/32)*1rem;
}

//设置函数居中
@mixin bgc($url,$width) {
    background: url($url)no-repeat center/100%;
    position: absolute;
    left: 50%;
    margin-left: p2r(-$width/2);
}

@mixin bg($url){
    background: url($url)no-repeat center/100%;
    position: absolute;
}

@mixin size($width,$height){
    width:p2r($width);
    height: p2r($height);
}

@keyframes steps{

    to{
        width: 100%;
    }
}

@keyframes riders{
    10%{
        transform: translateX(p2r(-26*1)) translateY(p2r(-10));
    }
    20%{
        transform: translateX(p2r(-26*2)) translateY(p2r(10));
    }
    30%{
        transform: translateX(p2r(-26*3)) translateY(p2r(-10));
    }
    40%{
        transform: translateX(p2r(-26*4)) translateY(p2r(10));
    }
    50%{
        transform: translateX(p2r(-26*5)) translateY(p2r(-10));
    }
    60%{
        transform: translateX(p2r(-26*6)) translateY(p2r(10));
    }
    70%{
        transform: translateX(p2r(-26*7)) translateY(p2r(-10));
    }
    80%{
        transform: translateX(p2r(-26*8)) translateY(p2r(10));
    }
    90%{
        transform: translateX(p2r(-26*9)) translateY(p2r(-10));
    }
    100%{
        transform: translateX(p2r(-26*10)) translateY(p2r(10));
    }

    to{
        transform: translateX(p2r(-260));
    }
}

@keyframes grass11{
    
    to{
        height: p2r(396);
    }
}


@keyframes treess{
    from{
       transform: translateY(-200%);

    }
    80%{
        transform: translateY(10%);
        opacity: 1;
    }
    90%{
        transform: translateY(-10%);
        opacity: 1;
    }
    100%{
        transform: none;
        opacity: 1;
    }
    
    
}

@keyframes grass22{
    from{
        opacity: 0;
        transform: scale(2,1)
    }
    to{
         opacity: 1;
    }
}




html,body{
    height:100%;
}

.loading{
    z-index: 3;
    background: #ffece9;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .rider{
        position: absolute;
        width:(154/32)*1rem;
        height:(121/32)*1rem;
        background: url('../image/loading/rider1_.png')no-repeat center/ 100% 100%;
        top:(233/32)*1rem;
        right: (108/32)*1rem;
        }
    .progress{
        width: (416/32)*1rem;
        height: (20/32)*1rem;
        background: red;
        border: 2px solid #373839;
        border-radius: (20/32)*1rem;;
        position: absolute;
        left: (108/32)*1rem;
        top: (360/32)*1rem;
    }
    .info{
        width: (220/32)*1rem;
        height: (28/32)*1rem;
        position: absolute;
        top: (424/32)*1rem;
        background: url('../image/loading/loading-txt.png')
        no-repeat center/100%;
        left: 50%;
        margin-left: -(220/32)/2*1rem;
    }
    .logo{
        width: (162/32)*1rem;
        height: (39/32)*1rem;
        background:url('../image/loading/waimai-logo.png')no-repeat center/100%;
        position: absolute;
        bottom:(118/32)*1rem ;
        left: 50%;
        margin-left: -(162/32)/2*1rem;
    }
    p{
        position: absolute;
        bottom:(73/32)*1rem ;
        font-size: (24/30)*1rem;
        color: #e0979d;
        width: 100%;
        text-align: center;
    }    
}

.welcome{
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: deepskyblue;
    .info{
        position: absolute;
        top: (42/32)*1rem;
        left: 50%;
        margin-left: -(397/32)/2*1rem;
        width: (397/32)*1rem;
        height: (240/32)*1rem;
        background: url('../image/page1/theme-title.png')no-repeat center/100%;
        .hello{
            position: absolute;
            top: (20/32)*1rem;
            right: (8/32)*1rem;
            width: (75/32)*1rem;
            height:(70/32)*1rem ;
            background:url('../image/page1/hello.png')no-repeat center/100%;
        }
    }
    .music{
        position: absolute;
        top: (32/32)*1rem;
        right: (32/32)*1rem;
        width: (36/32)*1rem;
        height: (36/32)*1rem;
        border-radius: 50%;
        background: url('../image/pause.png')no-repeat center/100%;
    }
    .clouds{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -(640/32)/2*1rem;
        width: (640/32)*1rem;
        height: (673/32)*1rem;
        background: url('../image/page1/clouds.png')no-repeat center/100%;
    }
   
    .grass1{
        position: absolute;
        bottom: 0;
        width: (640/32)*1rem;
        height: (396/32)*1rem;
        background: url('../image/page1/grass1.png')no-repeat center/100%;
    }
    .grass2{
        position: absolute;
        bottom: 0;
        width: (640/32)*1rem;
        height: (228/32)*1rem;
        background: url('../image/page1/grass2.png')no-repeat center/100%;
    }
    .tree{
        position: absolute;
        bottom: (352/32)*1rem;
        left: 50%;
        margin-left: -(559/32)/2*1rem;
        width: (559/32)*1rem;
        height: (71/32)*1rem;
        background: url('../image/page1/trees.png')no-repeat center/100%;
    }
    
    .quan{
        position: absolute;
        bottom: (86/32)*1rem;
        left: 50%;
        margin-left: -(208/32)/2*1rem;
        width: (208/32)*1rem;
        height: (208/32)*1rem;
        background: url('../image/page1/circle1.png')no-repeat center/100%;
    }
    .quan1{
        position: absolute;
        bottom: (86/32)*1rem;
        left: 50%;
        margin-left: -(208/32)/2*1rem;
        width: (208/32)*1rem;
        height: (208/32)*1rem;
        background: url('../image/page1/circle2.png')no-repeat center/100%;
    }
    .waiquan{
        position: absolute;
        bottom: (130/32)*1rem;
        left: 50%;
        margin-left: -(124/32)/2*1rem;
        width: (124/32)*1rem;
        height: (113/32)*1rem;
      
        background: url('../image/page1/bear-btn-pre.png')no-repeat center/100%;
    }
    .changan{
        position: absolute;
        bottom: (38/32)*1rem;
        width: 100%;
        height: (32/32)*1rem;
        text-align: center;
        color: red;
        font-size: (18/32)*1rem;

    }
    .bear{
         position: absolute;
         bottom: (346/32)*1rem;
         left: 50%;
         margin-left: -(167/32)/2*1rem;
         width: (167/32)*1rem;
         height: (279/32)*1rem;
         background: url('../image/page1/rider2.png')no-repeat center/100%;
    }
    .smoke{
         position: absolute;
         bottom: (346/32)*1rem;
         left: 50%;
         margin-left: -(167/32)/2*1rem;
         width: (167/32)*1rem;
         height: (32/32)*1rem;   
         background: url('../image/page1/jet1.png')no-repeat center/100%;
    }
    
    
}

.swiper-container{
   
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
   
}
.page1{
    background-color: #BE8651;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .scroll-page1{
        
        .bg{
            @include bgc('../image/page2/bg1.png',576);
            @include size(576,573);
            bottom: p2r(252);
           
        }
        .person{
            z-index: 1;
            @include bgc('../image/page2/front1.png',439);
            @include size(439,349);
            bottom: p2r(290);
            .files{
              background-image: url('../image/page2/papers.png');
              background-repeat: no-repeat;
              background-position: bottom right;
              background-size: p2r(115) p2r(114);
              @include size(85,50);
              bottom: p2r(104); 
              left: p2r(27);
              position: absolute;
              .paper1{
                background-image: url('../image/page2/papers.png');
                background-repeat: no-repeat;
                background-position: 0 p2r(-32);
                background-size: p2r(115) p2r(114);
                @include size(86,26);
                bottom: p2r(45); 
                left: p2r(-70);
                position: absolute;
              }
              .paper2{
                background-image: url('../image/page2/papers.png');
                background-repeat: no-repeat;
                background-position: p2r(-45) 0;
                background-size: p2r(115) p2r(114);
                @include size(64,20);
                bottom: p2r(80); 
                right:0; 
                position: absolute;
              }
            }
        }
        .sphere{
            @include bgc('../image/page2/sphere1.png',640);
            @include size(640,356);
            bottom: p2r(0);
        }
        .message-container{
            z-index: 1;
            @include bgc('../image/page2/txt-bubbl.png',363);
            @include size(363,119);
            bottom: p2r(140);
            .info{
                @include bgc('../image/page2/txt-work.png',220);
                @include size(220,30);
                bottom: p2r(44.5);
            }
        }
    
    }
    .scroll-page2{
        .bg{
            
            @include bgc('../image/page2/bg2.png',582);
            @include size(582,520);
            bottom: p2r(252);
        }
        .person{
            z-index: 1;
            @include bgc('../image/page2/relax.png',436);
            @include size(436,332);
            bottom: p2r(270);
            .leg1{
                @include bg('../image/page2/leg2.png');
                left:p2r(193);
                bottom: p2r(120);
                @include size(85,71)
            }
            .leg2{
                @include bg('../image/page2/leg1.png');
                left:p2r(195);
                bottom: p2r(110);
                @include size(113,24)
            }
        }
      
        .message-container{
            z-index: 1;
            @include bgc('../image/page2/txt-bubbl.png',363);
            @include size(363,119);
            bottom: p2r(140);
            .info{
                @include bgc('../image/page2/txt-life.png',220);
                @include size(220,30);
                bottom: p2r(44.5);
            }
        }
    }
    .scroll-page3{
        .bg{
            @include bgc('../image/page2/bg3.png',561);
            @include size(561,516);
            bottom: p2r(270);
        }
        .person{
            z-index: 1;
            @include bgc('../image/page2/person.png',503);
            @include size(503,229);
            bottom: p2r(300);
            .word1{
                @include bg('../image/page2/word1.png');
                bottom:p2r(194);
                left: p2r(7);
                @include size(92,93 )
            }
            .word2{
                @include bg('../image/page2/word2.png');
                bottom:p2r(245);
                left: p2r(115);
                @include size(77,70)
            }
            .word3{
                @include bg('../image/page2/word3.png');
                bottom:p2r(220);
                right: p2r(130);
                @include size(115,104 )
            }
            .word4{
                @include bg('../image/page2/word4.png');
                bottom:p2r(230);
                right: p2r(12);
                @include size(79,73 )
            }
        }
        .message-container{
            z-index: 1;
            @include bgc('../image/page2/txt-bubbl.png',363);
            @include size(363,119);
            bottom: p2r(140);
            .info{
                @include bgc('../image/page2/txt-res.png',220);
                @include size(220,30);
                bottom: p2r(44.5);
            }
        }
    }
    .sphere{
        @include bgc('../image/page2/sphere1.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }
    .beer{
        right: p2r(38);
        bottom: p2r(0);
        @include bg('../image/page2/bear1.png');
        @include size(178,134)
    }
}
.page2{
    background-color: #EE4143;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .bg{
        @include bgc('../image/page3/bg4_.png',576);
        @include size(592,490);
        bottom: p2r(330);
    }
    .person{
           background-image: url('../image/page3/bear2.png');
           background-repeat: no-repeat;
           background-position: p2r(-103) p2r(-96);
           background-size: p2r(368) p2r(427);
           @include size(227,336 );
           bottom: p2r(310);
           left: 50%;
           margin-left: p2r(-227/2);
           position: absolute;
           .face1{
            background-image: url('../image/page3/face1.png');
            background-repeat: no-repeat;
            background-size: p2r(102) p2r(102);
            top: 0;
            left: p2r(-120);
            position: absolute;
            @include size(102,102 );
            
           }
           .face2{
            background-image: url('../image/page3/face2.png');
            background-repeat: no-repeat;
            top: p2r(-102);
            right: p2r(-102/2);
            position: absolute;
            background-size: p2r(102) p2r(102);
            @include size(104,102);
           }
           .shou1{
            @include bg('../image/page3/hand-left_.png');
            top:p2r(180);
            left: p2r(30);
            @include size(74,77)
           }
           .shou2{
            @include bg('../image/page3/hand-right.png');
            top:p2r(180);
            right: p2r(30);
            @include size(74,77)
           }
      
    }
    .food{
        z-index: 2;
        @include bgc('../image/page3/foods.png',354);
        @include size(354,152); 
        bottom: p2r(330);
    }
    .table{
        z-index: 1;
        @include bgc('../image/page3/table.png',514);
        @include size(514,258); 
        bottom: p2r(140);
    }
    .sphere{
        @include bgc('../image/page3/sphere2.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }
}
.page3{
    background-color: #DD8A03;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .bg{
        @include bgc('../image/page4/bg5.png',592);
        @include size(592,580);
        bottom: p2r(300);
    }
    .person{
        z-index: 1;
        @include bgc('../image/page4/bear3.png',206 );
        @include size(206,321 );
        bottom: p2r(195);
    }
     .license{
       @include bg('../image/page4/license.png');
       @include size(197,140 );
       left: p2r(40);
       bottom: p2r(500);
     }
     .license1{
        @include bg('../image/page4/oil.png');
        @include size(205,107 );
        left: p2r(225);
        bottom: p2r(660);
     }
     .license2{
        @include bg('../image/page4/evil2.png');
        @include size(198,163 );
        right: p2r(30);
        bottom: p2r(480);
     }
    .sphere{
        @include bgc('../image/page4/sphere3.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }

}
.page4{
    background-color: #3FA100;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .bg{
        @include bgc('../image/page5/bg6.png',588);
        @include size(588,333);
        bottom: p2r(300);
    }
    .person{
        z-index: 1;
        @include bg('../image/page5/bear4.png');
        @include size(309,325 );
        bottom: p2r(170);
        left: p2r(200);
    }
     .map{
       @include bg('../image/page5/card1.png');
       @include size(160,175 );
       left: p2r(32);
       bottom: p2r(435);
     }
     .menu{
        @include bg('../image/page5/card2.png');
        @include size(161,209 );
        left: p2r(240);
        bottom: p2r(530);
     }
     .buyit{
        @include bg('../image/page5/card3.png');
        @include size(167,184 );
        right: p2r(45);
        bottom: p2r(420);
     }
    .sphere{
        @include bgc('../image/page5/sphere4.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }

}
.page5{
    background-color: #0098CF;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .bg{
        @include bgc('../image/page6/bg7.png',594);
        @include size(594,493);
        bottom: p2r(300);
    }
    .person{
        z-index: 1;
        @include bgc('../image/page6/rider2.png',230);
        @include size(230,390 );
        bottom: p2r(175);
        .smoke{
         @include bg('../image/page6/shadow.png');
         left: 50%;
         margin-left: p2r(-114/2);
         bottom: p2r(10);
         @include size(114,26 )
        }
    }
    .clouds{
        @include bgc('../image/page6/weather-cloud.png',432);
        @include size(432,160 );
        bottom: p2r(645);
    }
    .sphere{
        @include bgc('../image/page6/sphere5.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }

}
.page6{
    background-color: #B527A0;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .bg{
        @include bgc('../image/page7/bg8.png',588);
        @include size(588,333);
        bottom: p2r(300);
    }
    .person{
        z-index: 1;
        @include bgc('../image/page7/bear5.png',285);
        @include size(285,328 );
        bottom: p2r(200);
    }
    .sphere{
        @include bgc('../image/page7/sphere6.png',640);
        @include size(640,356);
        bottom: p2r(0);
    }
}
.page7{
    background-color: #19072A;
    .title{
        color: white;
        position: absolute;
        top: p2r(32);
        left: p2r(32);
        padding-left: p2r(20);
        h3{
            font-size: p2r(64);
            padding-bottom: p2r(12);
        }
        p{
            font-size: p2r(24);
            padding-bottom: p2r(8);
            
        }
        .line{
           height: 100%;
           width: p2r(5);
           position: absolute;
           background-color: white;
           top: 0;
           left: 0;
        }
    }
    .streelight{
        @include bg('../image/page8/streetlight.png');
        @include size(80,443);
        bottom: p2r(300);
        left: p2r(240);
        .lamplight{
            @include bg('../image/page8/lamplight.png');
            @include size(437,427);
            top: p2r(10);
            left: p2r(-140);

        }
    }
    .moto{
        @include bg('../image/page8/moto.png');
        @include size(200,137);
        bottom: p2r(330);
        left: p2r(110);
    }
    .person{
        z-index: 1;
        @include bg('../image/page8/bear6.png');
        @include size(285,328 );
        bottom: p2r(280);
        left: p2r(325)
    }
    .share{
        z-index: 1;
        @include bgc('../image/page8/share.png',379);
        @include size(379,113);
        bottom: p2r(140);
    }
    .sphere{
        @include bgc('../image/page8/sphere7.png',640);
        @include size(640,384);
        bottom: p2r(0);
    }
}

.loading{
    .progress{
        background-color: transparent;
        .step{
            width:20%;
            height:100%;
            background: #ff2947;
            right: 0;
            position: absolute;
           
        }
    }
}

.loading.animate{
    .step{
        animation: steps 1s linear forwards;
    }
    .rider{
        animation: riders 1s linear forwards;
    }
    
}
@keyframes btnpress{
    from{
        
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate{
    from{}
    to{
        transform: rotate(360deg)
    }
}

@keyframes bearr{
    from{
        transform: translateY(-50%);
    
    }
    to{
        transform: none;
        opacity: 1;
    }
    
}
@keyframes beartiao{
    from{
        transform: translateY(-5%)
    }
    to{
        transform: none;
    }
}
@keyframes smokee{
    from{
        transform: scale(0,0)
    }
    to{
        transform: none;
        opacity: 1;
    }
}

@keyframes infoo{
    from{
        transform: translateY(-50%);
    
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes helloo{
    from{
        transform: scale(0,0)
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes beardisappear{
    from{}
    to{
        transform: translateY(200%) scale(1.5,1.5);

        opacity: 0;
    }
}

.welcome{
    .grass1{
        height:p2r(198);
    }
    .grass2{
        opacity: 0;
    }
    .tree{
     opacity: 0;
    }
    .quanquan{
        opacity: 0;
        transform: scale(0,0);
    }
    .bear-box{
        opacity: 0;
    }
    .smoke{
        opacity: 0;
    }
    .info{
        opacity: 0; 
        
    }
    .hello{
        opacity:0;
    }
    
}
.welcome.animate{
    .grass1{
    animation: grass11 .5s  forwards;
    }
    .tree{
        animation: treess .5s  forwards;
    }
    .grass2{
        animation: grass22 .5s .5s forwards;
    }
    .quanquan{
        animation: btnpress .5s .5s forwards;
    }
    .quan1{
        animation: rotate .5s linear infinite;
    }
    .bear-box{
        animation: bearr .5s 1s forwards;
    }
    .bear{
        animation: beartiao .5s infinite;
    }
    .smoke{
        animation: smokee .5s infinite;
    }
    .info{
        animation: infoo 1s forwards;
    }
    .hello{
        animation: helloo 1s 1s forwards;
    }
}

@keyframes titlee{
   from{
       transform: translateX(100%);

   }
   to{
       transform: none;
       opacity: 1;
   }
}
@keyframes linee{
    from{}
    to{
        height: 100%;
    }
}
.swiper-slide {
    .title{
        h3{
            opacity: 0;
        }
        p{
            opacity: 0;
        }
        .line{
            
            height: 0%;
        }
    }
    
}
.swiper-slide.animate{
    .title{
        h3{
            animation: titlee .5s forwards;
        }
        p{
            animation: titlee .5s forwards;
        }
        .line{
            animation: linee .5s forwards;
        }
    }
}

@keyframes rotateInOut{
    0%{
        transform: rotateZ(90deg);
    }
    25%{
        transform: rotateZ(-5deg);opacity: 1;
    }
    30%{transform: rotateZ(0);opacity: 1;}
    65%{transform: rotateZ(0);opacity: 1;}
    70%{transform: rotateZ(5deg);opacity: 1;}
    100%{transform: rotateZ(-90deg);opacity: 0;}
}

@keyframes rotatenot{
    
        0%{
            transform: rotateZ(90deg);
        }
        95%{
            transform: rotateZ(-5deg);opacity: 1;
        }
        100%{transform: rotateZ(0);opacity: 1;}
        
    
}
@keyframes rundownleftright{
    25%{
        transform: translateX(5%)  translateY(0);
    }
    50%{
        transform: translateX(-5%)  translateY(5%);
    }
    75%{
        transform: translateX(0)  translateY(-5%);
    }
    100%{
        transform: translateX(0)  translateY(0);
    }
}
@keyframes leftright{
    25%{
        transform: translateX(50%)
    }
    60%{
        transform: translateX(-50%)
    }
    100%{
        transform: none;
    }
}

.page1{
    .scroll-page1{
        .bg{
            opacity: 0;
            transform-origin: 50% 200%;
        }
        .person{
            opacity: 0;
            transform-origin: 50% 200%;
        }
        .message-container{
            opacity: 0;
            transform-origin: right bottom;
        }
    }
    .scroll-page2{
        .bg{
            opacity: 0;
            transform-origin: 50% 200%;
        }
        .person{
            opacity: 0;
            transform-origin: 50% 200%;
        }
        .message-container{
            opacity: 0;
            transform-origin: right bottom;
        }
    }
    .scroll-page3{
        .bg{
            opacity: 0;
            transform-origin: 50% 200%;
        }
        .person{
            opacity: 0;
            transform-origin: 50% 200%;
            
        }
        .message-container{
            opacity: 0;
            transform-origin: right bottom;
        }
    }
}
.page1.animate{
    .scroll-page1{
    .bg{
       animation: rotateInOut 1.5s forwards;
    }
    .person{
        animation: rotateInOut 1.5s .2s forwards;
        .paper1{
            animation: leftright .5s infinite;
        }
        .paper2{
            animation: leftright .5s infinite;
        }
    }
    .message-container{
        animation: rotateInOut 1s .5s forwards;
    }
}
.scroll-page2{
    .bg{
       animation: rotateInOut 1.5s 1.7s forwards;
    }
    .person{
        animation: rotateInOut 1.5s 1.9s forwards;
    }
    .message-container{
        animation: rotateInOut 1s 2.2s forwards;
    }
}
.scroll-page3{
    .bg{
       animation: rotatenot .5s 3.4s forwards;
    }
    .person{
        animation: rotatenot .5s 3.6s forwards;
    }
    .message-container{
        animation: rotatenot .5s 3.4s forwards;
    
    }
    .word1{ animation:  rundownleftright 1s infinite;}
    .word2{animation:  rundownleftright .5s infinite;}
    .word3{animation:  rundownleftright 1.2s infinite;}
    .word4{animation:  rundownleftright 2s infinite;}
}
}

@keyframes tablee{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes personn{
    from{transform: translateY(100%);}
    to{transform: none;
        opacity: 1;}
}
@keyframes foodd{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes shouu{
    10%{transform:translateX(-5%) translateY(5%)}
    25%{transform:translateX(5%) translateY(-5%)}
    60%{transform:translateX(-5%) translateY(5%)}
    80%{transform:translateX(5%) translateY(-5%)}
    100%{transform:translateX(-5%) translateY(5%)}
    
}
@keyframes facee{
    from{transform: scale(0,0)}
    to{
        transform: none;
        opacity: 1;
    }
}

.page2{
    .bg{transform-origin: 50% 200%;opacity: 0;}
    .person{
        opacity: 0;
        .face1{opacity: 0;}
        .face2{opacity: 0;}

    }
    .food{
        opacity: 0;
    }
    .table{
        opacity: 0;
    }
}

.page2.animate{
    
    .person{
        animation: personn 1s .5s forwards;
        .shou1{animation: shouu 1s infinite;}
        .shou2{animation: shouu 1s infinite;}
        .face1{animation: facee 1s 2s forwards;}
        .face2{animation: facee 1s 2s forwards;}
    }
    .food{
        animation: foodd 1s 1s forwards;
    }
    .table{
        animation: tablee 1s forwards;
    }
    .bg{
        animation: rotatenot 1s forwards;
    }
}

.page3{
    .bg{opacity: 0;transform-origin: 50% 200%;}
    .person{opacity: 0;}
    .license{opacity: 0;}
    .license1{opacity: 0;}
    .license2{opacity: 0;}
}

.page3.animate{
    .bg{animation:  rotatenot 1s forwards;}
    .person{animation: personn 1s .5s forwards;}
    .license{animation: personn 1s .5s forwards,rundownleftright 1s infinite;}
    .license1{animation: personn 1s .5s forwards,rundownleftright 1s infinite;}
    .license2{animation: personn 1s .5s forwards,rundownleftright 1s infinite;}
}
.page3{
    .sanzhixiong{
      .onexiong{
        z-index: 1;
        @include bgc('../image/page4/bear3-1-1.png',251 );
        @include size(251,335 );
        bottom: p2r(195);
        opacity: 0;
    }
      .twoxiong{
        z-index: 1;
        @include bgc('../image/page4/bear3-2-1.png',215 );
        @include size(215,313 );
        bottom: p2r(195);
        opacity: 0;
      }
      .threexiong{
        z-index: 1;
        @include bgc('../image/page4/bear3-3-1.png',290 );
        @include size(290,321 );
        bottom: p2r(195);
        opacity: 0;
      }
    }
    .tipai{
        .card1{
            @include bg('../image/page4/license1.png');
            @include size(228,151 );
            left: p2r(40);
            bottom: p2r(500);
            opacity: 0;
        }
        .card2{
            @include bg('../image/page4/oil1.png');
            @include size(231,156 );
            left: p2r(225);
            bottom: p2r(660);
            opacity: 0;
        }
        .card3{
            @include bg('../image/page4/evil21.png');
            @include size(211,173 );
            right: p2r(30);
            bottom: p2r(480);
            opacity: 0;
        }
    }
}

.page4{
    .bg{
       opacity: 0;
       transform-origin: 50% 200%;
    }
    .person{
        opacity: 0;
    }
    .map{
        opacity: 0;
    }
    .menu{
        opacity: 0;
    }
    .buyit{
        opacity: 0;
    }
}
.page4.animate{
    .bg{
        animation:  rotatenot 1s forwards;
     }
     .person{
        animation: tablee 1s forwards;
     }
     .map{
        animation: facee 1s  forwards;
     }
     .menu{
        animation: facee 1s  forwards;
     }
     .buyit{
        animation: facee 1s  forwards;
     }
}
@keyframes UPdownleftright{
    25%{
        transform: translateX(2%)  translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateX(-2%)  translateY(2%);
        opacity: 1;
    }
    75%{
        transform: translateX(0)  translateY(-2%);
        opacity: 1;
    }
    100%{
        transform: translateX(0)  translateY(0);
        opacity: 1;
    }
}
@keyframes snownright{
    10%{opacity: 1;}
    100%{
        opacity: 1;
        transform: translateX(400%) translateY(1000%);
    }
}
@keyframes snowleft{
    10%{opacity: 1;}
    100%{
        opacity: 1;
        transform: translateX(-200%) translateY(1000%);
    }
}
.page5{
    .bg{opacity: 0; transform-origin: 50% 200%;}
    .person{
        opacity: 0;
        .smoke{
            opacity: 0;
        }
    }
    .clouds{
        opacity: 0;
        .snow{
            @include bg('../image/page6/snow-piece.png' );
            @include size(32, 32);
            bottom: 0;
            opacity: 0;
        }
        .snow:nth-child(2){
            left: p2r(32);
        }
        .snow:nth-child(3){
            left: p2r(32*2);
        }
        .snow:nth-child(4){
            left: p2r(32*3);
        }
        .snow:nth-child(5){
            left: p2r(32*4);
        }
        .snow:nth-child(6){
            left: p2r(32*5);
        }
        .snow:nth-child(7){
            left: p2r(32*6);
        }
        .snow:nth-child(8){
            left: p2r(32*7);
        }
        
    }
}
.page5.animate{
    .bg{
        animation:  rotatenot 1s forwards;
    }
    .person{
        animation: tablee .5s forwards,beartiao .5s .5s infinite;
        .smoke{
            animation: smokee .5s infinite;
        }
    }
    .clouds{
        animation: facee 1s  forwards, UPdownleftright 1s 1s infinite;
        .snow{
            animation: snownright .3s 1s infinite;
        }
        .snow:nth-child(2){
            animation:  snowleft .5s 1s infinite;
        }
        .snow:nth-child(3){
            animation: snownright .8s 1s infinite;
        }
        .snow:nth-child(4){
            animation:  snowleft .6s 1s infinite;
        }
        .snow:nth-child(5){
            animation: snownright .4s 1s infinite;
        }
        .snow:nth-child(6){
            animation:  snowleft .3s 1s infinite;
        }
        .snow:nth-child(7){
            animation: snownright .6s 1s infinite;
        }
        .snow:nth-child(8){
            animation:  snowleft .7s 1s infinite;
        }
        
    }
}
.yinyue{
    position: absolute;
    top: (32/32)*1rem;
    right: (32/32)*1rem ;
    @include size(36,36);
    background: url('../image/pause.png')no-repeat center/100%;
    z-index: 998;
}